[2016-07-06 14:17] tzumby opened #1 "Build fails on Ubuntu 15.10"
I'm trying to compile the project but I can't figure out what's missing. I included the outputs of CmakeError and the cmake. From what I can tell in the main output there's no required library missing.

Thanks in advance!

[code]

CMakeError.log

[code]

[2016-07-06 18:22] mdaiter commented on #1
Hey! Thanks for the error report.
Currently, there's a directory called mih (multi-index hashing) within src/openMVG/matching_image_collection containing code straight from the authors of mih. I was planning on integrating this, but haven't gotten around to it. I'll be making a push taking this directory out of the project for now. You can, however, install HDF5 on Ubuntu through apt-get, source y

[2016-07-06 18:37] mdaiter commented on #1
@tzumby , I just updated the system and removed MIH. Could you please try recompiling?
Thanks.

[2016-07-07 18:31] tzumby commented on #1
@mditer, thanks for the fast response and update to the code! I successfully compiled in on a fresh 14.04 box with opencv and opencv_contrib builds. I will try 15.10 again soon and report back.

[2016-07-09 00:03] mdaiter commented on #1
@tzumby Thanks so much!

[2016-07-09 23:33] tzumby commented on #1
@mdaiter I think we can close this one since your commit fixed the problem. I'm running into issues running the ComputeFeatures call but I'll open a separate ticket for that.

[2016-07-09 23:38] tzumby opened #2 "openMVG_main_ComputeFeatures with LATCH_BINARY openCV error"
Hey @mdaiter,

I'm getting this error when running the compute features with LATCH_BINARY:

OpenCV Error: Gpu API call (invalid texture reference) in call, file /opt/opencv/modules/cudev/include/opencv2/cudev/grid/detail/transform.hpp, line 340
terminate called after throwing an instance of 'cv::Exception'
  what():  /opt/opencv/modules/cudev/include/opencv2/cudev/grid/detail/transform.hpp:340: er

[2016-07-10 17:25] tzumby commented on #2
There seems to be a ticket that describes the same error in OpenCV, although I'm not getting this one when resuming from suspension:

https://github.com/opencv/opencv/issues/6176

[2016-07-11 09:26] #1 closed, assigned to mdaiter

[2016-07-11 12:44] mdaiter commented on #2
@tzumby on it

[2016-07-11 17:40] mdaiter commented on #2
@tzumby can't seem to reproduce. Can you give me a sample image dataset you're using?

[2016-07-11 21:41] tzumby commented on #2
Hey @mdaiter,

Here's a link to the image dataset and a summary of the commands I'm running:

[sfm.zip](https://s3.amazonaws.com/tzumbysfm/sfm.zip)

[code]

[sfm_data.json](https://s3.amazonaws.com/tzumbysfm/sfm_data.json)

[code]

[image_describer.json](https://s3.amazonaws.com/tzumbysfm/image_describer.json)

This is the error ComputeFeatures returns:

[code]

[2016-07-20 16:26] LingyuMa opened #3 "cuda compiling error"
I am using Linux 64 and cuda 7.5, in the cmake stage, it shows CUDA FOUND, however, when I did the compiling. it shows me the following error:

fatal error: cuda.h: No such file or directory
 #include <cuda.h>

[2016-07-20 16:28] LingyuMa commented on #3
The error looks like the following:

Scanning dependencies of target openMVG_multiview
In file included from /home/hduser/openMVG_Latch/openMVG/src/openMVG/features/latch/LatchClassifierOpenMVG.hpp:9:0,
                 from /home/hduser/openMVG_Latch/openMVG/src/openMVG/features/image_describer_latch.hpp:15,
                 from /home/hduser/openMVG_Latch/openMVG/src/openMVG/features/features.hp

[2016-07-20 17:55] mdaiter commented on #3
@LingyuMa , did you try this:
`export CFLAGS=$CFLAGS -I/usr/local/cuda/include ;
export CPPFLAGS=$CPPFLAGS -I/usr/local/cuda/include
`
before cmake-ing and compiling? I know this is a bug, and I'm planning on pushing a change soon.

[2016-07-20 19:30] LingyuMa commented on #3
@mdaiter I tried, but it still gave me the same error, Any other suggestions?

[2016-07-20 20:28] LingyuMa commented on #3
@mdaiter I tried, but it still gave me the same error, Any other suggestions?

[2016-07-20 20:28] LingyuMa commented on #3
Also, it shows me other erros like:

/usr/local/include/opencv2/core/cuda.hpp(158): error: identifier "Stream" is undefined

/usr/local/include/opencv2/core/cuda.hpp(164): error: identifier "Stream" is undefined

[2016-07-21 11:54] mdaiter commented on #3
@LingyuMa what version of OpenCV are you running, and did you compile in the extra modules package along with the CUDA bindings?

[2016-07-21 12:40] mdaiter commented on #2
@tzumby Sorry for the late response! I've been trying to pin down this issue for the past couple of days. It appears as though there's an issue within OpenCV 3.1.0, because when I try running detectAsync with the CUDA ORB code, everything crashes. I'm also running on a 1080 with CUDA 8.0 RC. Weird.

[2016-07-21 13:44] LingyuMa commented on #3
I am using git from this repository:
git clone https://github.com/Itseez/opencv.git

I think I have compiled it with CUDA

[2016-07-21 13:47] LingyuMa commented on #3
@mdaiter  What version of OpenCV are you using?

[2016-07-21 13:54] mdaiter commented on #3
@LingyuMa I'm using OpenCV 3.1.0 with EXTRA_MODULES (https://github.com/opencv/opencv_contrib) included

[2016-07-21 13:59] LingyuMa commented on #3
@mdaiter  so maybe I should download v3.1 from http://opencv.org/downloads.html and compile it with EXTRA_MODULES?

[2016-07-21 14:10] mdaiter commented on #3
@LingyuMa yep!

[2016-07-21 15:41] LingyuMa commented on #3
@mdaiter  Hi, the error related to openCV has resolved. Now the error remains to be:

In file included from /home/hduser/openMVG_Latch/openMVG/src/openMVG/features/latch/LatchClassifierOpenMVG.hpp:9:0,
                 from /home/hduser/openMVG_Latch/openMVG/src/openMVG/features/image_describer_latch.hpp:15,
                 from /home/hduser/openMVG_Latch/openMVG/src/openMVG/features/features.hpp

[2016-07-21 15:42] LingyuMa commented on #3
@mdaiter  I have tried  export CFLAGS=$CFLAGS -I/usr/local/cuda/include ; export CPPFLAGS=$CPPFLAGS -I/usr/local/cuda/include
but it does not work

[2016-07-21 15:42] LingyuMa commented on #3
@mdaiter  I have tried  export CFLAGS=$CFLAGS -I/usr/local/cuda/include ; export CPPFLAGS=$CPPFLAGS -I/usr/local/cuda/include
but it does not work

[2016-07-21 16:10] mdaiter commented on #3
@LingyuMa give me about 2 hours. I'm merging my deep descriptor code with my LATCH code within this repo. Afterwards, I'll modify the CMake files to directly include the header files it finds from CUDA

[2016-07-21 16:23] mdaiter commented on #3
@LingyuMa I'm also about to update the dependencies to require Torch and CUDA torch, if that's alright with you

[2016-07-21 16:27] LingyuMa commented on #3
@mdaiter  Does it mean that I need to reinstall cuda in order to have Torch? If so, can you do two seperate commit so that I can get the version without the dependency to Torch and CUDA torch? Thanks!

[2016-07-21 16:28] mdaiter commented on #3
@LingyuMa you don't need to reinstall CUDA to run CUDA Torch.

[2016-07-21 16:28] LingyuMa commented on #3
@mdaiter  Another thing I want you to know is when I add a line to CMakeList under src/ folder (include_directories("/usr/local/cuda/include")), it is able to find "cuda.h", but gave me the following error:

Scanning dependencies of target openMVG_multiview
../../Linux-x86_64-RELEASE/liblatch_cuda.so: undefined reference to `cv::cuda::ORB::create(int, float, int, int, int, int, int, int, int, bool

[2016-07-21 16:32] mdaiter commented on #3
@LingyuMa are you sure you're pulling in OpenCV 3.1.0? If so, that linker error shouldn't be happening. When you run `pkg-config --libs --cflags opencv`, what comes out?

[2016-07-21 16:50] LingyuMa commented on #3
I am sure I am using 3.1. But before that, I uninstalled the old version. Maybe I did not remove the whole thing? What is the decent way to uninstall openCV?

Sent from my iPhone

[2016-07-21 17:06] mdaiter commented on #3
@LingyuMa that should be enough. Hm, strange. It seems like there's a linker error. Let me solve this now.
Also, I just updated the branch.

[2016-07-21 17:19] mdaiter commented on #3
@LingyuMa updated the branch again. All CUDA linkers and include dirs should automatically be added. Let me deal with those linker errors. I am explicitly calling a link to OpenCV and requiring OpenCV 3 in CMake, but there might be a linker issue in later stages.

[2016-07-21 17:21] mdaiter commented on #2
@tzumby can you try again? Think I fixed it.

[2016-07-21 17:29] mdaiter commented on #2
@tzumby just tried on your dataset, and it works on my machine.

[2016-07-21 18:51] LingyuMa commented on #3
@mdaiter  have you solved the linker error related to opencv3.1?

[2016-07-21 18:56] mdaiter commented on #3
@LingyuMa it should be solved through this line: https://github.com/mdaiter/cudaLATCH/blob/695ffdcb68dd8214aafdc368593fc67749a3645c/CMakeLists.txt#L30 , along with the automatic include of cuda.h

[2016-07-21 18:58] mdaiter commented on #3
@LingyuMa I'm curious to see if an OpenCV_GPU_Libs needs to be manually specified or not. It seems as though you're able to link with OpenCV's CPU-bound libraries, but not GPU-bound libraries.

[2016-07-21 19:10] LingyuMa commented on #3
@mdaiter
I've got this error very early this time:

nvcc fatal   : Value 'sm_60' is not defined for option 'gpu-architecture'
CMake Error at cunn_generated_ReLU.cu.o.cmake:204 (message):
  Error generating
  /home/hduser/openMVG_Latch_Build/openMVG/features/deep/cunnproduction/CMakeFiles/cunn.dir//./cunn_generated_ReLU.cu.o

[  3%] make[2]: **\* [openMVG/features/deep/cunnproduction/CMakeFiles/cun

[2016-07-21 19:13] mdaiter commented on #3
@LingyuMa that's because you don't have sm_60 (pascal architecture). If you go into this file: https://github.com/mdaiter/cudaLATCH/blob/695ffdcb68dd8214aafdc368593fc67749a3645c/CMakeLists.txt#L18 and remove the '-gencode arch=compute_60,code=sm_60' from it, as well as from this one: https://github.com/mdaiter/openMVG/blob/custom/src/openMVG/features/deep/cunnproduction/CMakeLists.txt#L10 and remo

[2016-07-21 19:25] LingyuMa commented on #3
@mdaiter  I have got this weird error:

/home/hduser/openMVG_Latch/openMVG/src/openMVG/matching_image_collection/gpu/bitMatcher.cu(121): error: identifier "__shfl_xor" is undefined

[ 22%] Building CXX object dependencies/osi_clp/CoinUtils/src/CMakeFiles/lib_CoinUtils.dir/CoinOslFactorization2.cpp.o
1 error detected in the compilation of "/tmp/tmpxft_00002866_00000000-7_bitMatcher.cpp1.ii".
CMake

[2016-07-21 19:28] mdaiter commented on #3
@LingyuMa Ah! So you still need to define an sm. If you go to those same positions, but replace that sm_60 with sm_30 and code_60 with code_30, it should compile.

[2016-07-21 20:45] LingyuMa commented on #3
@mdaiter  Hi, I get the following error agiain:
Built target latch_cuda
In file included from /home/hduser/torch/install/include/THC/THC.h:4:0,
                 from /home/hduser/openMVG_Latch/openMVG/src/openMVG/features/deep/src/../cunnproduction/cunn.h:4,
                 from /home/hduser/openMVG_Latch/openMVG/src/openMVG/features/deep/src/loader.h:10,
                 from /home/hduser/openMV

[2016-07-21 20:51] LingyuMa commented on #3
@mdaiter  I have added include_directories("/usr/local/cuda/include") in CMakeLists and it works (At least for compiling), I'll test if there is any runtime error. Thank you for your help!

[2016-07-21 21:15] LingyuMa commented on #3
@mdaiter  I have added include_directories("/usr/local/cuda/include") in CMakeLists and it works (At least for compiling), I'll test if there is any runtime error. Thank you for your help!

[2016-07-21 21:16] LingyuMa commented on #3
I have found a small problem when running the code:

![selection_001](https://cloud.githubusercontent.com/assets/18152518/17039058/521659da-4f5e-11e6-8afa-09c8916fe13e.png)

[2016-07-21 21:38] tzumby commented on #2
Thanks @mdaiter, I'll give it another try soon.

[2016-07-21 21:50] mdaiter commented on #3
@LingyuMa yeah, those are debug statements. Meant to take those out sooner :P

[2016-07-21 22:04] LingyuMa commented on #3
@mdaiter  Another question?
which descriptor should I use for feature detection: LATCH_UNSIGNED or LATCH_BINARY?
Also which matching algorithm should I use corresponding to them?

[2016-07-21 22:18] LingyuMa commented on #3
@mdaiter  Sadly, I got the runtime error this time:
- EXTRACT FEATURES -
  0%   10   20   30   40   50   60   70   80   90   100%
  |----|----|----|----|----|----|----|----|----|----|
  Using max kepoints: 30720
  Finished setting image size: 3264 2448
  OpenCV Error: Gpu API call (invalid texture reference) in call, file /home/hduser/OpenCV/opencv-3.1.0/modules/cudev/include/opencv2/cudev/grid/de

[2016-07-21 22:19] mdaiter commented on #3
@LingyuMa
LATCH_UNSIGNED will create a Scalar feature. You can use GPU_LATCH matcher.
LATCH_BINARY will create a (you guessed it!) binary feature. You can use the BruteForceHamming matcher. I usually set the ratio parameter at 0.99

[2016-07-21 22:22] mdaiter commented on #3
@LingyuMa weird that you get that error. It happens occasionally. Still trying to debug exactly what triggers that, but I fear that's an OpenCV error, because of the debug statements I've wrapped around CUDA ORB within the LATCH detection class (just tested it today on the latest build of OpenCV 3.1.0). For now, I'd stick with the LATCH_BINARY detection format and the BRUTE_FORCE_HAMMING matcher w

[2016-07-21 22:28] mdaiter commented on #3
@LingyuMa also, thanks so much for helping spot these errors. Glad to see another UIUC'er interested in SfM and photogrammetry work.

[2016-07-21 22:44] LingyuMa commented on #3
@mdaiter  Do you have any suggestions to fix this error? Have you met such runtime errors? I am afraid this is related to my graphic card (I am using Quadro K2200) and it is Maxwell.

[2016-07-21 22:46] LingyuMa commented on #3
I have changed sm_30 to sm_50 and it works!
It is just the wrong architecture selection.

[2016-07-21 22:50] LingyuMa commented on #3
@mdaiter
Compared with LATCH_UNSIGNED + GPU_LATCH
and LATCH_BINARY+ BruteForceHamming
Which do you recommend? It seems in the binary descriptor, the matching process does not speed up.

[2016-07-22 00:13] mdaiter commented on #3
@LingyuMa I'd recommend LATCH_UNSIGNED + GPU_LATCH. GPU_LATCH is a GPU-based Hamming matcher. The reason you can't use GPU_LATCH with LATCH_BINARY is due to the allocations/positioning of each descriptor. Each descriptor is stored within 2048 bits, but the descriptor itself is only 512 bits. Therefore, the GPU_LATCH matcher is tailored to work with this mis-aligned block of memory. The LATCH_BINAR

[2016-07-22 11:38] mdaiter commented on #3
@LingyuMa can I close this? Do you have any more problems?

[2016-07-22 13:02] LingyuMa commented on #3
For now, I don't have any further questions. Thank you for your help.

[2016-07-22 13:16] mdaiter commented on #3
@LingyuMa glad to help!

[2016-07-22 13:17] #3 closed, assigned to mdaiter

[2016-07-22 14:33] LingyuMa opened #5 "LATCH descriptor does not seem to work well on my dataset"
@mdaiter  I have tried the LATCH binary and LATCH unsigned, it seems both of them work very well on my image set (it seems there are less features detected and much less matches found), is there any suggestions to tune the parameters or something?

[2016-07-22 14:35] LingyuMa commented on #5
Also, the matching is still not fast even I use GPU_LATCH,is there any way to speed it up?

[2016-07-22 14:40] mdaiter commented on #5
@LingyuMa what's your dataset and what numbers are you getting?

[2016-07-22 14:46] mdaiter commented on #5
@LingyuMa I also set the ratio parameter to 0.99 when matching: binary descriptors are sensitive to those sorts of changes, and these fluctuations can seriously kill matching ability.

[2016-07-22 14:50] LingyuMa commented on #5
I have also changed that to 0.99

[2016-07-22 14:54] LingyuMa commented on #5
I have attached the image set and matches.bin, can you have a look?
https://drive.google.com/file/d/0BwWAt5w3811WdG16Z1ZKRGpVTFk/view?usp=sharing
https://drive.google.com/file/d/0BwWAt5w3811WV1U5Wm9hTEdGTk0/view?usp=sharing

[2016-07-22 14:57] LingyuMa commented on #5
@mdaiter  What parameters are you using for matching?

[2016-07-22 15:00] mdaiter commented on #5
@LingyuMa I'm just using -r 0.99 . That's it...hm. How many putatives do you get, and how many geometrics? Are you using -g e or -g f?

[2016-07-22 15:08] LingyuMa commented on #5
@mdaiter  Can you run my dataset in your computer (to see what will happen)? I am using fundamental matrix for filtering, so it is -g f. I have attached my matches.f.bin, not sure how to check it.

[2016-07-22 15:10] mdaiter commented on #5
`./bin/openMVG_main_exportMatches -i outputLatch/sfm_data.json -d outputLatch -m outputLatch/matches.putative.bin -o matches` will give you all of your matcher data back and export it to svgs. Curious to see the numbers.

[2016-07-22 15:20] LingyuMa commented on #5
it seems it gave me a bunch of svg to show matches, is there a way to show the total number?

[2016-07-22 15:29] LingyuMa commented on #5
@mdaiter  for matches.f.bin, All I can say is that it gave me 136 image pairs. The pairs seem to be reasonable, though the number is 49.5MB, though it is much less than the sift (209.4MB), I can also see since the matching becomes sparse when it comes to LATCH

[2016-07-22 15:57] mdaiter commented on #5
The total number between each pair appears right before the end of the SVG file. x_y_n_.svg is the format, where x is the first ID of the image, y is the second ID of the image, and n is the number of matches between images

[2016-07-22 16:07] LingyuMa commented on #5
![akaze](https://cloud.githubusercontent.com/assets/18152518/17063349/63feec86-4ffc-11e6-8462-4f8140c7ef50.png)
![latch](https://cloud.githubusercontent.com/assets/18152518/17063350/64076c6c-4ffc-11e6-9663-3e401b6b3cfb.png)
Here are the two output matches svg files screenshots

[2016-07-22 16:07] LingyuMa commented on #5
@mdaiter  the second image is LATCH

[2016-07-22 16:08] LingyuMa commented on #5
I know it is hard to see, but the number of image pairs is about 5 times less.

[2016-07-22 16:11] mdaiter commented on #5
@LingyuMa Can you send me the SIFT matches that align with the LATCH matches? It seems as though the SIFT matches compare sets whose LATCH equivalents aren't visible from your screenshots

[2016-07-22 16:19] LingyuMa commented on #5
The problem is that the matched images are not the same for the two descriptors. I'll see what I can do when I come back from lunch.

Sent from my iPhone

[2016-07-22 17:29] tzumby commented on #2
Just compiled and tested computing features with LATCH_BINARY. I had to update nvcc -arch to match Maxwell (sm_52), I'm assuming sm_60 is Pascal since you mentioned you're using the 1080 ?

[2016-07-22 19:15] LingyuMa commented on #5
@mdaiter  Can you have a look at these two photos
![selection_005](https://cloud.githubusercontent.com/assets/18152518/17068459/b37ff9f2-5016-11e6-8f18-9b84a3f9eaf6.png)
![selection_004](https://cloud.githubusercontent.com/assets/18152518/17068460/b3929d6e-5016-11e6-9415-292fc0756126.png)

[2016-07-22 19:15] LingyuMa commented on #5
the first one is Latch

[2016-07-22 19:43] mdaiter commented on #2
Yep!

[2016-07-25 10:08] mdaiter commented on #5
@LingyuMa these seem correct. Maybe @csp256 (original author of the library) could provide some insight, but I believe these are the results you should be receiving back from each image.

[2016-07-25 13:35] LingyuMa commented on #5
But the matching number seems much less than SIFT, which makes the global construction fails. Is there a way to increase matching number?

Sent from my iPhone

[2016-07-25 13:55] mdaiter commented on #5
@LingyuMa if you modify these two parameters: https://github.com/mdaiter/cudaLATCH/blob/cf05a8fdf19b83519e68cc0c184e334f83be18e5/params.hpp and here: https://github.com/mdaiter/openMVG/blob/custom/src/openMVG/matching_image_collection/gpu/params.hpp you'll be able to tune matching threshold and total allowed points to detect. Each increment in NUM_SM gives back 512 more key points.

[2016-07-25 14:10] LingyuMa commented on #5
Also, I have found that the matching time is still pretty slow compared with the openMVG default matching method+SIFT. Which is really weird, is there any way to accelerate it?

Sent from my iPhone

[2016-07-25 15:11] mdaiter commented on #5
@LingyuMa if you're using the LATCH_UNSIGNED method, I'd use the GPU_LATCH matching method; otherwise, you're technically comparing two different fundamental ways of matching. With SIFT, you'd have to run the BRUTE_FORCE_MATCHER_L2 in order to perform a fair comparison. I have the numbers on my computer, and it's far slower than the BRUTE_FORCE_HAMMING matcher.

[2016-07-25 15:31] LingyuMa commented on #5
@mdaiter  the problem is I am using LATCH_UNSIGNED + GPU_LATCH and I compared it with SIFT + ANNL2, the speed does not improve.

[2016-07-25 15:41] mdaiter commented on #2
@tzumby does it work?

[2016-07-25 16:37] csp256 commented on #5
Something is definitely up. The number of matches is what I would expect sometimes (10k ish), but much lower the rest (<1k). I am interpreting this as my code working, and something upstream being broken.

I really do not think that the ratio test makes sense in Hamming space: as a first order improvement you should impose a hard threshold between best and second best matches. This is done on the

[2016-07-25 21:52] mdaiter commented on #5
Agreed with @csp256 . I'm curious: what is your total number of matches putatively? You can check by running the exportMatches command with matches.putative.bin instead of matches.f.bin

[2016-07-27 03:14] tzumby commented on #2
Yep, everything works.

[2016-07-27 16:15] #2 closed, assigned to mdaiter

[2016-07-31 13:37] mdaiter commented on #5
@LingyuMa if you're looking for a GPU Brute Force L2 matcher, I just finished one up and should be pushing code either today or tomorrow. It's on the default OpenCV version of the GPU matcher, but I'm implementing a CUDA dynamic parallel solution at the moment and will inform you when it's ready.

[2016-08-01 13:24] pmoulon commented on #1
@tzumby You can also test the original project https://github.com/openMVG/openMVG and later the @mdaiter fork if you need specific features.

[2016-08-03 16:41] mdaiter commented on #5
@LingyuMa my GPU L2 Brute Force matcher is now finished. Feel free to use it with SIFT, PNNet, LATCH, DeepSiam2Stream or DeepSiam

[2016-08-03 16:49] pmoulon commented on #5
Did you try to extract LATCH descriptors on SIFT keypoints?
Since there is a "clean" SIFT integration pending... it could be easy to test:
https://github.com/openMVG/openMVG/issues/556
We can also test the LATCH descriptor on Affine detector (we can extract rectified patch regions and compute the descriptor on it). See there for Affine patch normalization: https://github.com/openMVG/openMVG/blob/m

[2016-08-03 16:52] mdaiter commented on #5
@LingyuMa and @pmoulon if you look on the Oxford testing branch, you'll have all of that code already integrated
SIFT Keypoints: https://github.com/mdaiter/cudaLATCH/blob/0a6a6285790f13559696bc54df3b23fa5a0b12b3/LatchClassifierOpenMVG.cpp

Affine Invariant points: (previous commit - looking to see where I left it)

[2016-08-03 17:39] pmoulon commented on #5
Perhaps using the patch at the correct scale could improve the results. We can continue this discussion by mail if you want.

[2016-08-03 18:31] mdaiter commented on #5
@pmoulon what's your mail address? Mine's mdaiter8121@gmail.com

[2016-08-06 11:46] donlk opened #8 "Compilation issue"
@mdaiter @csp256
Did you guys used CUDA 8 as a base for the implementation? I'm getting compilation errors about definitions allegedly introduced in CUDA 8.0.
**Here:**
`nvcc fatal   : Value 'sm_60' is not defined for option 'gpu-architecture'
CMake Error at cunn_generated_ReLU.cu.o.cmake:203 (message):
  Error generating
  /mnt/linuxdata/Development/work/projects/sfmrecon/built/linux-x86_64/openM

[2016-08-06 14:24] mdaiter commented on #8
Hey @donlk ,
I did use CUDA 8.0 for this implementation, coupled with CuDNN v5.0. This was to allow for my code to run on my GTX 1080.

You can change `sm_60` to `sm_53` or really `sm_30`. All of the above should work.

I'm not too sure as to why THNets_CPU wouldn't be included in the compilation process. To ensure that this version builds, I just did a clean Git pull and recompile. It built flawl

[2016-08-06 14:28] mdaiter commented on #8
Hey @donlk ,
Just pushed! Could you please:
1. Run `git submodule update`
2. Run `git pull ; git fetch`

and test if it works?
Thanks!

[2016-08-07 02:03] donlk commented on #8
Just tried it. Previous issues are gone, but there is a new one:

`[ 44%] Building NVCC (Device) object openMVG/features/deep/thnets/CMakeFiles/THNets_CUDA.dir/cudnn/THNets_CUDA_generated_cunn_SpatialMaxUnpooling.cu.o
/usr/include/string.h: In function ‘void* __mempcpy_inline(void*, const void*, size_t)’:
/usr/include/string.h:652:42: error: ‘memcpy’ was not declared in this scope
   return (char

[2016-08-07 15:54] mdaiter commented on #8
@donlk this seems like a compiler error with no forced inlining, as referenced here: https://github.com/BVLC/caffe/issues/4046 and here: https://github.com/tensorflow/tensorflow/issues/1346 . I just added a CMake forced inlining function. Can you please retry? Thanks.

[2016-08-07 21:52] donlk opened #10 "Runtime crash when using GPU accelerated descriptors"
When using **LATCH_UNSIGNED**:
`- EXTRACT FEATURES -
0%   10   20   30   40   50   60   70   80   90   100%
|----|----|----|----|----|----|----|----|----|----|
Using max kepoints: 30720
terminate called after throwing an instance of 'cereal::Exception'
  what():  Trying to save a registered polymorphic type with an unregistered polymorphic cast.
Could not find a path to a base class (openMVG::feat

[2016-08-07 21:55] donlk commented on #8
Yes you're right, i forgot i already encountered this issue in the past during OpenCV compilation which required the same solution.
It compiles fine now, though there is a runtime issue as well, for which i opened a new ticket: [https://github.com/mdaiter/openMVG/issues/10](https://github.com/mdaiter/openMVG/issues/10)
You can close this one.

[2016-08-07 22:39] mdaiter commented on #8
Thanks @donlk ! I'll check out that issue ASAP.

[2016-08-07 22:39] #8 closed, assigned to mdaiter

[2016-08-07 22:40] mdaiter commented on #10
Hey @donlk ,
Are you sure PNNET fails? Is it not DEEPSIAM2STREAM failing?

I think I know what's up with this. Weird that it's not picking that up. I think it's just a register problem. Let me contact you in about an hour with updates.

[2016-08-07 22:47] donlk commented on #10
Yes it does:
`You called :
/mnt/linuxdata/Development/work/projects/sfmrecon/built/linux-x86_64/install/OpenMVG/bin/openMVG_main_ComputeFeatures
--input_file /mnt/linuxdata/Development/work/projects/sfmrecon/testsets/cookie/calculation/sfm/matches/sfm_data.json
--outdir /mnt/linuxdata/Development/work/projects/sfmrecon/testsets/cookie/calculation/sfm/matches
--describerMethod PNNET
--upright 0
--d

[2016-08-07 22:57] mdaiter commented on #10
@donlk Oh, I see the issue. That's a minor bug dealing with hardcoded paths. Let me upload a position-ambiguous version.
Also, what branch are you on?

[2016-08-07 22:59] mdaiter commented on #10
@donlk PNNet bug should be fixed.

[2016-08-07 23:00] donlk commented on #10
I'm on your **custom** branch.

[2016-08-07 23:01] mdaiter commented on #10
@donlk Can you pull and compile?

[2016-08-07 23:03] donlk commented on #10
Allright.
Also can you give me the source repo of the latch submodule you're using? I'm unable to commit my compute level changes because its not part of the openMVG repo.

[2016-08-07 23:04] mdaiter commented on #10
@donlk https://www.github.com/mdaiter/cudaLATCH

[2016-08-07 23:07] mdaiter commented on #10
@donlk also - that problem with cereal not recognising the LATCH describer is strange, because I explicitly register it here: https://github.com/mdaiter/openMVG/blob/custom/src/openMVG/features/image_describer_latch.hpp

Can you tell give me a set to reproduce these errors?

[2016-08-07 23:10] donlk commented on #10
Use my branch here:
[https://github.com/donlk/openMVG/tree/gpu_matcher](https://github.com/donlk/openMVG/tree/gpu_matcher)
Its an up-to-date upstream develop branch merged with your custom one. Plus some additional print adjustments.

[2016-08-07 23:15] mdaiter commented on #10
@donlk I'll compile it and run some tests tomorrow. I know you're trying to get to bed. Good night!

[2016-08-08 00:13] mdaiter commented on #10
@donlk found the problem! Could you add this line:
`CEREAL_REGISTER_POLYMORPHIC_RELATION(openMVG::features::Image_describer,        openMVG::features::LATCH_Image_describer);`
right after this line: https://github.com/mdaiter/openMVG/blob/custom/src/openMVG/features/image_describer_latch.hpp#L185
I'd add it myself, but if I add it to my repo my version of Cereal breaks.
Thanks!

[2016-08-08 17:12] mdaiter commented on #10
@donlk did that fix it?

[2016-08-08 19:20] donlk commented on #10
Testing now. Sorry, mistakenly deleted my previous comment.

[2016-08-08 19:21] donlk commented on #10
Testing now. Sorry, mistakenly deleted my previous comment.

[2016-08-08 19:54] donlk commented on #10
Still not working, but got a slightly different message:
`- EXTRACT FEATURES -
0%   10   20   30   40   50   60   70   80   90   100%
|----|----|----|----|----|----|----|----|----|----|
Using max kepoints: 30720
terminate called after throwing an instance of 'cereal::Exception'
  what():  Trying to save a registered polymorphic type with an unregistered polymorphic cast.
Could not find a path to a

[2016-08-08 20:02] donlk commented on #10
It seems the problem is quite trivial. Pierre updated cereal to 1.2.0 and that introduced additional required relational definitions for feature detectors breaking your fork. See here:
[https://github.com/openMVG/openMVG/commit/ff22ff265da0789b785fca9206b812a04c844c6e](https://github.com/openMVG/openMVG/commit/ff22ff265da0789b785fca9206b812a04c844c6e)
So all we got to do is add the necessary polym

[2016-08-08 20:15] mdaiter commented on #10
@donlk that appears to be correct.

[2016-08-08 20:37] donlk commented on #10
I may have a pull request for you soon including this little fix and hopefully one for the network binary file path issue:
[https://github.com/mdaiter/openMVG/commit/58483973f0e446995fed31025de2b49afd767185](https://github.com/mdaiter/openMVG/commit/58483973f0e446995fed31025de2b49afd767185)
Relative path doesn't really work there, for whenever it runs the base path in relation is going to be the b

[2016-08-08 20:47] donlk commented on #10
Allright, here's another gem. I've put in the missing declarations, but it only got me so far:
`Running latch
Ran latch
Copying memory back
Memory copied
3/37 | 30720 features | 27ms
OpenCV Error: Assertion failed (!scalar.empty() || (src2.type() == src1.type() && src2.size() == src1.size())) in arithm_op, file /mnt/linuxdata/Development/work/projects/sfmrecon/3rdparty/OpenCV/modules/cudaarithm/sr

[2016-08-08 20:50] mdaiter commented on #10
Which parameters did you pass to the binary?

[2016-08-08 20:51] donlk commented on #10
What do you mean? I'm running it with LATCH_UNSIGNED. Or you mean the network binary paths? Are they used with the LATCH descriptor?

[2016-08-08 20:55] mdaiter commented on #10
@donlk the only place where I call OpenCV code is here:
https://github.com/mdaiter/cudaLATCH/blob/695ffdcb68dd8214aafdc368593fc67749a3645c/LatchClassifierOpenMVG.cpp#L113-L127
Are you sure you're not passing in any empty images?

[2016-08-08 20:56] mdaiter commented on #10
@donlk well, and here: https://github.com/mdaiter/cudaLATCH/blob/695ffdcb68dd8214aafdc368593fc67749a3645c/LatchClassifierOpenMVG.cpp#L68-L95 but it's effectively the same code.

[2016-08-08 23:17] donlk commented on #10
My bad. I was running the feature detection in parallel. ORB detector in OpenCV has gone haywire :)
LATCH is working fine now and its crazy fast. I'm seeing more than an order of magnitude faster detection time compared to SIFT here with roughly the same number of features on a GTX 970 .

[2016-08-08 23:19] mdaiter commented on #10
@donlk Oh yeah! That totally happened all the time with me. It's a massive pain.

[2016-08-08 23:21] donlk commented on #10
OK, not much long for that pull request now.

[2016-08-08 23:40] donlk commented on #10
Also, a couple of questions:
- I see LATCH keypoints are not being deserialized when i restart the computation., instead they are recomputed every time. Is there a limitation that would prevent reloading them?
- What type of matcher should i use for LATCH keypoint matching? Nothing works at the moment, i get zero matches with everything.

[2016-08-08 23:59] csp256 commented on #10
The GPU brute force Hamming matcher was designed to be used with GPU accelerated LATCH descriptors. I don't know how to call it (lol), all I did was write it. @mdaiter integrated it into OpenMVG. Make sure that you use a threshold which is reasonable for binary descriptors; not one that is designed for float descriptors.

[2016-08-09 00:41] donlk commented on #10
Pull: [https://github.com/mdaiter/openMVG/pull/11](https://github.com/mdaiter/openMVG/pull/11)
Path fix for deep network binaries has to wait until tomorrow.

[2016-08-09 15:18] #10 closed, assigned to mdaiter

[2016-08-10 02:15] donlk opened #12 "SIGSEGV when running GPU matcher"
So running GPU_LATCH matcher on LATCH descriptors results in the following error:

`Thread 1 "openMVG_main_Co" received signal SIGSEGV, Segmentation fault.
0x00007fffab57391c in ?? () from /usr/lib/x86_64-linux-gnu/libcuda.so.1
(gdb) wher
#0  0x00007fffab57391c in ?? () from /usr/lib/x86_64-linux-gnu/libcuda.so.1
#1  0x00007fffab61681e in ?? () from /usr/lib/x86_64-linux-gnu/libcuda.so.1
#2  0x000

[2016-08-10 13:22] mdaiter commented on #12
Hey @donlk ,
It seems like this is a `cudaMemcpyAsync` error, which is strange because the `cudaMemset` call beforehand seems successful. This leads to one of two issues:
1. Can you check the size of `h_descriptors1`? If it can't alloc that much memory to a single continuous block, could you try setting the command `ulimit -s unlimited` on the command line beforehand?
2. Can you check the total me

[2016-08-10 21:10] donlk commented on #12
This is getting stranger by the minute. Yesterday i had it crashing all the time, now it runs just fine.
Although i'm only getting a single match for every image pair, even though the detected features are more than 10000.

I have 4GB of VRAM (precisely its 3.5 + 5 on a GTX 970).

[2016-08-10 21:13] csp256 commented on #12
I developed it on a 970M, which is a less powerful card. The memory required should be << 1 GB. You would see errors before kernel launch if alloc failed. Assuming you are checking for them, Matthew?

Where are the matches located? Is it in the first or last few keypoints?

[2016-08-10 21:22] donlk commented on #12
Ok, i've run a few more tests. Right now i'm getting the following results quite consistently:
`LATCH_UNSIGNED` + `GPU_LATCH` = 1 match for every pair, no crash
`LATCH_UNSIGNED` + `GPUBRUTEFORCEL2` = 0 match for every pair, no crash
`LATCH_BINARY` + `GPU_LATCH` = the aforementioned **crash**
`LATCH_BINARY` + `GPUBRUTEFORCEL2` = 0 match for every pair, no crash

[2016-08-10 21:57] csp256 commented on #12
1 match for every pair meaning 1 match for every pair of frames?

0 matches for L2 is to be expected and is not a bug. LATCH is not designed to work under the L2 norm.

@mdaiter what is the difference between LATCH_UNSIGNED and LATCH_BINARY? If I remember correctly I only used unsigned ints in my original implementation.

@donlk I feel stupid asking this, but do you know what the endianness of you

[2016-08-10 22:12] donlk commented on #12
I have an i7 4770, which i think can deal with both big and little endian compiled code. I did not pass any specific flags that would mess with the byte order though, here are my compile flags straight from cmake:
`-D_FORCE_INLINES -march=native --std=c++11 -fopenmp -O3 -fPIC`
The interesting part here is march=native of course, i'm trying to find out what other flags it triggers on haswell.

**Up

[2016-08-10 22:17] donlk commented on #12
You think the endianness interferes with the data that gets copied to the GPU?

[2016-08-10 22:25] csp256 commented on #12
No. Endianness issues are vanishingly unlikely. I was just checking that there wasn't any sort of weird issues that might have arisen in case @mdaiter did something silly like use a bool array CPU side and transfer it to the GPU.

He is certainly asleep right now, but I have barely even glanced at his wrapper code for the kernel.

[2016-08-10 23:09] mdaiter commented on #12
OH! I know what's up.
You can't do `LATCH_BINARY` + `GPU_LATCH` . The Latch matcher @csp256 had designed was intended for only scalar points, not binary points. If you use `GPU_LATCH`, you need to use it with `LATCH_UNSIGNED`. Otherwise, you need to use a binary matcher.

[2016-08-10 23:12] donlk commented on #12
Ok, but we still have the issue of low (or non existent) match count. Ideas?

[2016-08-11 00:03] mdaiter commented on #12
@donlk what's the image set?

[2016-08-11 00:50] donlk commented on #12
I use my own ones. They are certainly not the source of the issue, as i feeded imagesets with resolution of fullHD to 4k, and tens of thousands of features were successfully detected.
Isn't it related to some CUDA 8 specific implementation?

[2016-08-11 02:23] mdaiter commented on #12
@donlk what arch did you compile this for? If you compiled for `sm_60`, that could be your problem.

[2016-08-11 09:38] donlk commented on #12
I compiled it with `compute_30 + sm_30` and `compute_53 + sm_53` as well. Both worked fine detection wise, the only difference was in feature count.

[2016-08-11 20:54] donlk commented on #12
Are you sure there's absolutely no chance this is caused by some code part being CUDA 8 specific? I could install version 8 if necessary.

[2016-08-11 20:58] csp256 commented on #12
I don't even have CUDA 8 (I use 7.5), so the CUDA itself is not 8-specific. Maybe the wrapper code but I sincerely doubt that.

When you set compute_xx and sm_xx isn't one supposed to represent your physical architecture? That might be your problem.

[2016-08-11 21:44] donlk commented on #12
YES! Setting it to level 52 solved the issue (it seems it has to match the highest supported CUDA level). I had no idea it needed to match my architecture exactly. Thank you! Forgive for my ignorance.

[2016-08-12 15:49] #12 closed, assigned to mdaiter

[2016-10-30 15:24] eokeeffe opened #14 "cutorch error"
Hey dude, I've tried to compile but I'm having some difficulties around the cutorch dependencies.

[ 70%] Building NVCC (Device) object openMVG/features/deep/cunnproduction/CMakeFiles/cunn.dir/cunn_generated_SpatialConvolution.cu.o
/home/evan/Modelling/openMVG_GPULatch/src/openMVG/features/deep/cunnproduction/SpatialConvolution.cu(176): error: identifier "THCudaBlas_gemm" is undefined

1 error det

[2016-10-30 20:15] mdaiter commented on #14
Hey,
I wrote my additions to this library when Torch 4 was out -- I don't know if "THCudaBlas_gemm" is still defined in the cutorch repo.
It should be in this file: https://github.com/torch/cutorch/blob/master/lib/THC/THCBlas.cu
A similar issue appeared here with the same function call:
https://groups.google.com/forum/#!topic/torch7/jIyveGldcE0
Still debating the workaround to this. I'll update th

[2016-12-17 16:16] eokeeffe commented on #14
Just for anyone else, if you want this to work for you
go into your torch directory (if cloned with git)
enter the commands below:

[code]

This version of torch works fine. Tested on Ubuntu 16.04

[2016-12-17 20:51] mdaiter commented on #14
Thanks @eokeeffe !

[2017-03-04 05:09] robeastham opened #15 "Getting zero matches for LATCH_UNSIGNED + GPUBRUTEFORCEHAMMING & for LATCH_BINARY + BRUTEFORCEHAMMING"
So ComputeFeatures seems to be running okay, though not great. Results from ComputeFeatures when using LATCH_UNSIGNED seem better than LATCH_BINARY. That is to say that most of the files sizes of .desc, on my images, seem about the same as equivalent when run through SIFT (avg about 3mb per file - I am using .png to mask each 18MP image - so about 3/4 of the frame is masked - 96 images in total).

[2017-03-06 11:31] mdaiter commented on #15
Ah, okay. Let me explain (and thank you *so* much for pointing this out, as there has been some confusion for a while about which matching version to use).

LATCH_BINARY needs to be used with the matching method GPU_LATCH. The reason behind this is due to @csp256's and @komrad36's matching kernel being specifically tuned for operating on 512-bit-long data. The matching kernel should easily work an

[2017-03-06 11:46] mdaiter commented on #15
@robeastham if you pull now, the typos in the matching binary should be fixed. Please keep me updated on how your experiments go!

[2017-03-06 12:47] robeastham commented on #15
Thanks for the detailed response. All makes sense. Does the last commit mean that there was a bug stopping things running properly for LATCH_BINARY whatever I was doing?

I will pull, compile and try. Hopefully later today.

I'm also wondering if I need to tweak my CMakeLists.txt for LATCH, because I'm 99.99% sure I tested LATCH_UNSIGNED with GPUBRUTEFORCEHAMMING, which looks like it should have w

[2017-03-06 13:22] mdaiter commented on #15
That last commit just changed the formatting in the output message of the matching binary. There were no technical bugs; just bugs in terms of UI/UX.

Don't know the gencode you should use :(

[2017-03-10 11:51] giacomodabisias commented on #15
Hello to everyone. I am also experimenting with the new LATCH descriptor but for now I am having some issues. As soon as I get some results I will keep you posted.
@robeastham you can use compute capability 52 for your card. Have a look here: https://en.wikipedia.org/wiki/CUDA

[2017-03-10 16:16] robeastham commented on #15
@giacomodabisias thanks for the clarification. I actually did a recompile with 52 yesterday and still failed to get anything at CoputeMatches stage. Even when following recent instructions from @mdaiter.

I realised that the Docker image I'm deriving from actually uses OpenCV  3.2 and so perhaps that is my issue. Think I might need to retry with OpenCV 3.1 - @mdaiter do you think 3.2 could be the

[2017-03-10 16:44] giacomodabisias commented on #15
@robeastham compute capabilities won't make any difference. They only allow the compiler to use a wider instruction set with optimised code for your specific card.

@mdaiter For now I am stuck after computing features and matches when I want to execute openMVG_main_GlobalSfM. Just to be clear, I did the following (folders are omitted to make it readable):

openMVG_main_SfMInit_ImageListing -i inpu

[2017-03-10 17:20] mdaiter commented on #15
@robeastham not sure as to what capabilities were introduced into 3.2. What dataset (if available) are you using?

@giacomodabisias those commands look good. Are you sure you can use *all* of those threads within your comptueFeatures phase? The reason I ask is because your GPU might not be able to handle all of those queued commands at once. I'm using a stream-based multi-threaded solution for run

[2017-03-10 17:22] giacomodabisias commented on #15
@mdaiter Thanks for the answer.
Yes I got a 56 core machine with 2 P5100 Nvidia cards so there should be no issue with processing power.

[2017-03-12 14:53] donlk opened #16 "Upstream merge?"
Its been a while since i visitied this awesome repo, and sadly its still not merged upstream. Whats stopping a pull request into the upstream openMVG? Does @pmoulon have specific requests?

[2017-03-12 19:02] mdaiter commented on #16
@donlk not too sure how to proceed with a merge. @pmoulon , could/should we merge this with upstream?

[2017-07-10 12:26] giacomodabisias commented on #15
Hi @mdaiter,
I started again working on it and I am stuck at the same point as before.
I get
[code]
during openMVG_main_GlobalSfM.
Everything looks good. Descriptors and matches are there and all files look correct . Any idea?

[2017-07-10 15:49] pmoulon commented on #15
@giacomodabisias If you have graphviz on your computer. Some graph files must be exported (svg) by ComputeMatches.
It can help you to see the connected components once the geometric matches have been performed.